.toolbar-background {
  border-color: #ffe560;
  background: #ffe560;
}

page-page1 {
  ion-content {
    background: rgb(255, 250, 222) url(../assets/img/food.png) fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;

    ion-card {
      position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      top: 0;
      font-size: 2.0em;
      width: 100%;
      height: 100%;
      font-weight: bold;
      color: #fff;
      text-shadow: #845d4f 1px 1px, #845d4f -1px 1px, #845d4f -1px -1px, #845d4f 1px -1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card-back {
      height: 100%;
      width: 100%;
      top: 0;
      position: absolute;
      background-color: rgba(255, 185, 0, 0.31);
    }

    .blur {
      -webkit-filter: blur(4px);
      -moz-filter: blur(4px);
      -ms-filter: blur(4px);
      -o-filter: blur(4px);
      filter: blur(4px);
    }

    img {
      object-fit: cover;
      height: 200px;
    }

    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      top: 52%;
      width: 100%;
      color: #fff;
    }

  }
  .has-refresher > .scroll-content {
    border: none;
  }
  .refresher-refreshing-icon {
    margin-top: 10px;
  }
}

page-modal {
  $header: 100px;
  $header-top: 40px;
  ion-header {
    .title {
      text-align: center;
      position: absolute;
      top: $header-top;
      width: 100%;
      height: $header;
      font-size: 2em;
      color: white;
      font-weight: bold;
      text-shadow: #845d4f 1px 1px, #845d4f -1px 1px, #845d4f -1px -1px, #845d4f 1px -1px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .title-back {
      height: $header;
      width: 100%;
      top: $header-top;
      position: absolute;
      background-color: rgba(255, 229, 96, 0.35);
    }
    .toolbar {
      min-height: $header-top;
    }
  }

  img {
    object-fit: cover;
    height: $header;
    width: 100%;
    display: inherit;
  }
  ion-content {
    background: rgb(255, 250, 222) url(../assets/img/food.png) fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;

    .description, .location {
      margin: 10px;
      p {
        margin: 0;
      }
    }

    /*ion-slides {
      height: auto;
    }*/
  }
}
