<ion-header>
  <ion-navbar>
    <ion-title>Edition du resto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label color="primary" stacked>Nom du restaurant</ion-label>
      <ion-input type="text" placeholder="{{ restaurant.name }}" autocapitalize="none"
                 value="{{ restaurant.name }}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Description du restaurant</ion-label>
      <ion-textarea [(ngModel)]="restaurant.description" rows="8" placeholder="{{ restaurant.description }}"
                    autocapitalize="none"></ion-textarea>
    </ion-item>
  </ion-list>

  <!--<ion-list>
        <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
            <ion-icon [name]="item.icon" item-left></ion-icon>
            {{item.title}}
            <div class="item-note" item-right>
                {{item.note}}
            </div>
        </button>
    </ion-list>
    <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title}}</b>
    </div>-->
</ion-content>
